* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-style: 1.6rem;
    font-family: 'Leckerli One', cursive;
    font-family: 'Poppins', sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}